In [7]:
import pandas as pd

In [9]:
shops = pd.read_csv('shops.csv')
sales = pd.read_csv('Sales.csv')
events = pd.read_csv('Events.csv')

In [11]:
# Чтение каждого листа с учетом разделителя ';'
shops = pd.read_csv("Shops.csv", sep=';')
sales = pd.read_csv("Sales.csv", sep=';')
events = pd.read_csv("Events.csv", sep=';')

# Розмір датасетів
print("Shops:", shops.shape)
print("Sales:", sales.shape)
print("Events:", events.shape)

# Перші кілька рядків для перегляду структури даних
print(shops.head())
print(sales.head())
print(events.head())

Shops: (35, 9)
Sales: (29425, 4)
Events: (18, 4)
   Shop   Open_date Change_type Trade_area    City   Region  \
0     1  04.10.2018         NaN      36,04  City15  Region1
1     1  20.12.2021   Extension      48,05  City15  Region1
2     2  12.01.2018         NaN      30,93   City8  Region2
3     3  16.02.2018         NaN      36,94  City27  Region3
4     4  22.01.2018         NaN      17,42   City7  Region4

           City area             Local_reference  Floor
0  sleeping quarters                      bazaar      1
1  sleeping quarters                      bazaar      1
2          periphery                 supermarket      1
3             centre  administrative institution      1
4  sleeping quarters                 supermarket      1
   Shop        Date     Sales  Unnamed: 3
0     1  02.01.2019  4 739,45         NaN
1     2  02.01.2019  6 254,80         NaN
2     3  02.01.2019  8 710,77         NaN
3     4  02.01.2019  4 389,85         NaN
4     5  02.01.2019  5 119,37         NaN
   Date_start    Date_end       Type          Event
0  22.02.2019  23.02.2019  Promotion         Promo1
1  25.10.2019  25.10.2019  Promotion      Halloween
2  29.11.2019  01.12.2019  Promotion   Black Friday
3  21.02.2020  22.02.2020  Promotion         Promo1
4  16.03.2020  11.05.2020   Lockdown  Hard lockdown

In [27]:
print("Пропуски в Shops:")
print(shops.isnull().sum())
print("\nПропуски в Sales:")
print(sales.isnull().sum())
print("\nПропуски в Events:")
print(events.isnull().sum())

Пропуски в Shops:
Shop                0
Open_date          22
Change_type        30
Trade_area          0
City                0
Region              0
City area           0
Local_reference     0
Floor               0
dtype: int64

Пропуски в Sales:
Shop         0
Date     17903
Sales        0
dtype: int64

Пропуски в Events:
Date_start    0
Date_end      0
Type          0
Event         0
dtype: int64

In [31]:
# Преобразуем даты в формат datetime с правильным форматом
sales['Date'] = pd.to_datetime(sales['Date'], format='%d.%m.%Y')

# Проверим количество пропусков после преобразования
missing_dates_count = sales['Date'].isna().sum()
print(f"Количество пропусков после преобразования: {missing_dates_count}")

# Выведем несколько первых значений для проверки
print(sales['Date'].head(10))

Количество пропусков после преобразования: 17903
0   2019-02-01
1   2019-02-01
2   2019-02-01
3   2019-02-01
4   2019-02-01
5   2019-03-01
6   2019-03-01
7   2019-03-01
8   2019-03-01
9   2019-03-01
Name: Date, dtype: datetime64[ns]

In [33]:
# Преобразуем столбец 'Date' в строковый тип для поиска пробелов
sales['Date_str'] = sales['Date'].astype(str)

# Найдем строки с пробелами или скрытыми символами
empty_dates = sales[sales['Date_str'].str.contains(r'\s', na=False)]
print("Записи с пробелами или скрытыми символами в 'Date':")
print(empty_dates)

Записи с пробелами или скрытыми символами в 'Date':
Empty DataFrame
Columns: [Shop, Date, Sales, Date_str]
Index: []

In [34]:
# Проверим типы данных в столбце 'Date'
print(sales['Date'].apply(type).value_counts())

Date
<class 'pandas._libs.tslibs.nattype.NaTType'>         17903
<class 'pandas._libs.tslibs.timestamps.Timestamp'>    11522
Name: count, dtype: int64

In [35]:
data = {
    'Shop': [1, 2, 3, 4, 5],
    'Date': ['02.01.2019', '03.01.2019', '04.01.2019', '05.01.2019', '06.01.2019'],
    'Sales': ['4 739,45', '5 335,20', '5 535,57', '6 294,09', '7 241,28']
}

# Создание DataFrame
df = pd.DataFrame(data)

# Преобразование столбца 'Date' в тип данных datetime
df['Date'] = pd.to_datetime(df['Date'], format='%d.%m.%Y')

# Преобразование столбца 'Sales' в числовой тип, убирая пробелы и запятые
df['Sales'] = df['Sales'].str.replace(' ', '').str.replace(',', '.').astype(float)

# Вывод результата
print(df)

   Shop       Date    Sales
0     1 2019-01-02  4739.45
1     2 2019-01-03  5335.20
2     3 2019-01-04  5535.57
3     4 2019-01-05  6294.09
4     5 2019-01-06  7241.28

In [36]:
print("\nПропуски в Sales:")
print(sales.isnull().sum())

Пропуски в Sales:
Shop            0
Date        17903
Sales           0
Date_str        0
dtype: int64